version: 2.1

parameters:
  project-id:
    type: string
    default: "forgetmenot-477816"
  service-account:
    type: string
    default: "forgetmenot-prod@forgetmenot-477816.iam.gserviceaccount.com"
  api-entry-point:
    type: string
    default: "app"
  run-garden-service-workflow:
    type: boolean
    default: false
  run-user-service-workflow:
    type: boolean
    default: false
  run-habit-service-workflow:
    type: boolean
    default: false

jobs:
  forgetmenot-user-service-prod-deploy:
    docker:
      - image: gcr.io/google.com/cloudsdktool/google-cloud-cli:530.0.0-slim
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy User Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/user
            bash _update.sh "prod"
            npm ci
            cd ../../

            gcloud functions deploy forgetmenot-user-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/user \
              --service-account=$SERVICE_ACCOUNT \
              --gen2 \
              --env-vars-file=./config/prod/user-service-env.yaml \
              --runtime=nodejs22 \
              --region=europe-west1 \
              --entry-point=$API_ENTRY_POINT \
              --allow-unauthenticated \
              --trigger-http \
              --min-instances=1 \
              --max-instances=20 \
              --ingress-settings internal-and-gclb

  forgetmenot-garden-service-prod-deploy:
    docker:
      - image: gcr.io/google.com/cloudsdktool/google-cloud-cli:530.0.0-slim
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      AUTH_FILE_PATH: << pipeline.parameters.auth-file-path >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Garden Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            gcloud builds submit ./services/garden \
              --tag gcr.io/$PROJECT_ID/forgetmenot-garden-prod

            gcloud run deploy forgetmenot-garden-prod \
              --image gcr.io/$PROJECT_ID/forgetmenot-garden-prod \
              --platform managed \
              --region europe-west1 \
              --allow-unauthenticated \
              --service-account $SERVICE_ACCOUNT \
              --memory 512Mi \
              --cpu 1 \
              --port 8080 \
              --set-env-vars ENV=prod

  forgetmenot-habit-service-prod-deploy:
    docker:
      - image: gcr.io/google.com/cloudsdktool/google-cloud-cli:530.0.0-slim
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Habit Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/habit
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-habit-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/habit \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-habit-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --ingress-settings internal-and-gclb

workflows:
  run-garden-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-garden-service-workflow >> 
    jobs: 
      - forgetmenot-garden-service-prod-deploy:
          filters:
            branches:
              only: main  

  run-user-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-user-service-workflow >>
    jobs: 
      - forgetmenot-user-service-prod-deploy:
          filters:
            branches:
              only: main

  run-habit-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-habit-service-workflow >>
    jobs: 
      - forgetmenot-habit-service-prod-deploy:
          filters:
            branches:
              only: main