version: 2.1

parameters:
  project-id:
    type: string
    default: "forgetmenot-477816"
  service-account:
    type: string
    default: "forgetmenot-prod@forgetmenot-477816.iam.gserviceaccount.com"
  api-entry-point:
    type: string
    default: "app"
  awards-topic:
    type: string
    default: "awards-topic"
  consumer-entry-point:
    type: string
    default: "consumer"
  run-garden-service-workflow:
    type: boolean
    default: false
  run-user-service-workflow:
    type: boolean
    default: false
  run-habit-service-workflow:
    type: boolean
    default: false
  run-auth-service-workflow:
    type: boolean
    default: false
  run-task-service-workflow:
    type: boolean
    default: false
  run-notification-service-workflow:
    type: boolean
    default: false
  run-awards-consumer-service-workflow:
    type: boolean
    default: false
  run-awards-create-get-service-workflow:
    type: boolean
    default: false
jobs:
  forgetmenot-user-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy User Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/user
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-user-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/user \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-user-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-garden-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Garden Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/garden
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-garden-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/garden \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-garden-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-habit-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Habit Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/habit
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-habit-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/habit \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-habit-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-task-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Task Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/task
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-task-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/task \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-task-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-auth-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Auth Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/auth
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-auth-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/auth \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-auth-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-notification-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Notification Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/notification
            npm ci
            cd ../../

            gcloud run deploy forgetmenot-notification-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/notification \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-notification-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-awards-create-get-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Awards Create/Get Service (Cloud Run)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/awards/awards-create-get
            npm ci
            cd ../../../

            gcloud run deploy forgetmenot-awards-create-get-service-prod \
              --cpu=1 \
              --memory=512Mi \
              --source ./services/awards/awards-create-get \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-awards-create-get-prod-env:latest \
              --region=europe-west1 \
              --allow-unauthenticated \
              --min-instances=1 \
              --max-instances=20 \
              --quiet \
              --ingress all

  forgetmenot-awards-consumer-service-prod-deploy:
    docker:
      - image: google/cloud-sdk:528.0.0
    environment:
      PROJECT_ID: << pipeline.parameters.project-id >>
      SERVICE_ACCOUNT: << pipeline.parameters.service-account >>
      TRIGGER_TOPIC: << pipeline.parameters.awards-topic >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Build & Deploy Awards Consumer Service (Cloud Functions Gen2)
          command: |
            echo "$GCP_SA_KEY" > /tmp/gcp-key.json
            gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
            gcloud config set project $PROJECT_ID

            apt-get update
            apt-get install bash npm -y

            cd services/awards/awards-consumer
            npm ci && npm run build
            cd ../../../

            gcloud functions deploy forgetmenot-awards-consumer-service-prod \
              --gen2 \
              --runtime=nodejs22 \
              --entry-point=consumer \
              --trigger-topic=$TRIGGER_TOPIC \
              --source ./services/awards/awards-consumer \
              --region=europe-west1 \
              --service-account=$SERVICE_ACCOUNT \
              --set-secrets=/temp/.env=projects/305796297986/secrets/forgetmenot-awards-consumer-prod-env:latest \
              --memory=512Mi \
              --timeout=60s \
              --max-instances=20 \
              --min-instances=0 \
              --quiet

workflows:
  run-garden-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-garden-service-workflow >> 
    jobs: 
      - forgetmenot-garden-service-prod-deploy:
          filters:
            branches:
              only: main  

  run-user-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-user-service-workflow >>
    jobs: 
      - forgetmenot-user-service-prod-deploy:
          filters:
            branches:
              only: main

  run-habit-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-habit-service-workflow >>
    jobs: 
      - forgetmenot-habit-service-prod-deploy:
          filters:
            branches:
              only: main

  run-auth-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-auth-service-workflow >>
    jobs: 
      - forgetmenot-auth-service-prod-deploy:
          filters:
            branches:
              only: main

  run-task-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-task-service-workflow >>
    jobs: 
      - forgetmenot-task-service-prod-deploy:
          filters:
            branches:
              only: main     

  run-notification-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-notification-service-workflow >>
    jobs:
      - forgetmenot-notification-service-prod-deploy:
          filters:
            branches:
              only: main

  run-awards-create-get-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-awards-create-get-service-workflow >>
    jobs:
      - forgetmenot-awards-create-get-service-prod-deploy:
          filters:
            branches:
              only: main

  run-awards-consumer-service-workflow:
    when:
      or:
        - << pipeline.parameters.run-awards-consumer-service-workflow >>
    jobs:
      - forgetmenot-awards-consumer-service-prod-deploy:
          filters:
            branches:
              only: main
